@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #eee;
}